.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f8faf8;
}

.layout-content {
  margin-left: 220px; /* sidebar width */
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.layout-page {
  padding: 32px;
}
